<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Beth+Ellen|Lacquer|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">

    <!-- AWS SDK -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
    <script src="../js/app.js"></script>

    <title>Another Man's Treasure</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">Another Man's Treasure</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a onclick="document.getElementById('id01').style.display='block'">Login</a></li>
            </ul>
        </div>
    </nav>

    <h3>Post an Item</h3>

    <!-- Submit options -->
    <div>
        <div class="row">
            <div class="col s12">
                <select class='dropdown-trigger btn dropdownBtn' id="category" placeholder="category">
                    <option value="none" disabled selected>Select a Category</option>
                    <option value="electronics">Electronics</option>
                    <option value="home-goods">Home Goods</option>
                    <option value="clothes">Clothes</option>
                    <option value="random">Random</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Item Name" id="item-name" type="text" class="validate form-fields">
                <label for="item-name"><b>Item Name</b></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input placeholder="City, State" id="post-loc" type="text" class="validate form-fields">
                <label for="post-loc"><b>Location</b></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" class="materialize-textarea form-fields"></textarea>
                <label for="description">Description</label>
            </div>
        </div>

        <!-- <div class="row">
            <div class="file-field input-field col s12">
                <div class="btn btn-small">
                    <span>Upload an Image</span>
                    <input type="file">
                </div>
                <div class="file-path-wrapper">
                    <input id="image" class="file-path validate" type="text" value="">
                </div>
            </div>
        </div> -->

        <div class="row">
            <form action="/api/upload" method="POST" enctype="multipart/form-data" class="file-field input-field col s12">
                <div class="btn btn-small">
                    <span>Upload an Image</span>
                    <input type="file">
                </div>
                <div class="file-path-wrapper">
                    <input id="image" class="file-path validate" type="text">
                </div>
            </form>
        </div>
        
    </div>
    <!-- End submit options -->

    <a data-target="modal1" id="productSubmit" class="waves-effect waves-light btn modal-trigger">Post It</a>


    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Success!</h4>
            <p>You have posted an item up for trade. Keep checking back to see trade offers.</p>
        </div>
        <div class="modal-footer">
            <a href="/users" class="modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
    </div>



    <!--Adding all script tags-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/product.js"></script>
    

</body>

</html>