<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Another Man's Treasure</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo center">Another Man's Treasure</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a onclick="document.getElementById('id01').style.display='block'">Login</a></li>
            </ul>
        </div>
    </nav>
    <h1>Welcome to Your Treasure Page</h1>
    <div class="container">
    <!--dynamically generate item entries with image and info based on get requests to database-->


        <a href="post.html" class="waves-effect waves-light btn">Post an Item</a>

    </div>



</body>

</html>