nav {
  background-color: #00796b;
  font-family: 'Beth Ellen', cursive;

}

body {
  font-family: 'Raleway', sans-serif;

}
h3, h6 {
  text-align:center;
  margin-top: 50px;
  margin-bottom: 20px;

}

h5 {
  text-align: center;
  color: white;
}

select {
  width:15%;
}

a:hover {
  color:#ffcdd2;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    opacity: 1;
    pointer-events: none;
    margin-right: 5px;
}

#name, #email, #password, #item-name, #post-loc, #description{
  width: 50%;
}
#image {
  width: 30%;
}

.list-group-item {
  line-height: 2.5;
}

#location {
  border: solid 1px;
  width: 30%;
  height: 2.25rem;
  float:right;
}


#post-container {
  text-align: center;
  
}

.btn-flat {
  padding: 0 0
}

.btn-small {
  font-size: 12px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 20px;
  width: 60%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(67, 118, 148, 0.99); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/*not doing anything right now, need to fix*/
.ok-btn{
  text-align: center; 
  margin: 6px 20px;
  background-color: transparent; 
}


/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0; 
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}